/* line 1, ../sass/popup.scss */
body {
  width: 300px;
  height: 300px;
  background-image: url(http://th02.deviantart.net/fs70/PRE/i/2011/070/9/c/sakuya_izayoi____bad_apple____by_adiyasa-d3bfu3a.jpg);
}
/* line 5, ../sass/popup.scss */
body #wrapper {
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
/* line 12, ../sass/popup.scss */
body #wrapper #time:before {
  content: "Time Now: ";
}
/* line 15, ../sass/popup.scss */
body #wrapper a {
  color: rgba(102, 163, 210, 0.85);
  text-decoration: none;
}
